<div class="row">
  <div class="col-md-2">
    <ul class="nav nav-pills nav-stacked" style="width:120px;">
      <li role="presentation" class="active">
        <a ui-sref="home.shop">商城配置</a>
      </li>
      <li role="presentation">
        <a ui-sref="home.service">服务配置</a>
      </li>
      <li role="presentation">
        <a ui-sref="home.activity">活动配置</a>
      </li>
    </ul>

    <div times="2">
      <p>
        {{name}}
      </p>
    </div>

  </div>
  <div class="col-md-10" ui-view style="padding-left:20px;"></div>
</div>
